dataset/** 
dataset_model/**
generate_dataset/metanetwork/**
generate_dataset/.cache/**
generate_dataset/outputs/**

*.txt
!requirements.txt

final/
History/
outputs/
main/save/**
main/*.txt
main/without_init
main_imagenet/*.txt
main_imagenet/outputs/**
main_imagenet/save/**
main_imagenet/main_imagenet.log
__pycache__/
nohup.out
*.egg-info

tmp/
tmp.py

*.out
*.err