dataset/** 
dataset_model/**
generate_dataset/metanetwork/**
generate_dataset/.cache/**
generate_dataset/outputs/**

*.txt

final/
History/
outputs/
main/save/**
main/*.txt
main_imagenet/*.txt
main_imagenet/outputs/**
main_imagenet/save/**
__pycache__/
nohup.out
*.egg-info
