dataset/** 
dataset_model/**
generate_dataset/metanetwork/**
generate_dataset/.cache/**
main/final/**
main/History/**
main/outputs/**
main/save/**
main/*.txt
main_imagenet/*.txt
main_imagenet/outputs/**
main_imagenet/save/**
*/__pycache__/

